@media (max-width: 992px) {
  .card__gigant h1 {
    font-size: 90px;
  }
  .card__gigant p {
    font-size: 19px;
  }
  #buy {
    padding: 100px 0px;
  }
  .card {
    margin-top: 10px;
    border: solid 1px;
    width: 140px;
    height: 450px;
    padding: 40px 30px;
    border: solid 2px black;
    gap: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .beneficios{
    display: none;
  }

.categories{
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;

}
.card__categorie{
 width: 100px;
 height: 150px;
}
}

@media (max-width: 734px){
  .contenedor_filtro_planta{
    flex-direction: column-reverse;
    }
    .filtro{
      width: 450px;
      height: 750px;
    }
    .categories{
      flex-direction: column;
    
    }
    .card__categorie{
      width: 320px;
      height: 140px;
      padding: 5px 15px;
    }
    
    .contenedor__categorie{
      flex-direction: row;
      gap: 20px;
    }
    
}

@media (max-width: 834px){
  .logo__copy {
    display: none;
  }

  .contactos__conteiner {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
  }

  .card__contactos {
    width: 90px;
    height: 330px;
    gap: 10px;
  }

  .card__contactos h4 {
    font-size: 21px;
  }

  .list__contact {
    gap: 30px;
  }

  .list__info {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .contact__a {
    color: #faeeea;
  }
  .logo__copy p {
    text-align: center;
  }

}

@media (max-width: 576px) {
  .card__gigant h1 {
    font-size: 70px;
  }
  .card__gigant p {
    width: 100%;
    font-size: 22px;
  }
  #buy {
    padding: 100px 0px;
  }
  .beneficios {
    display: none;
  }

  .big__card {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: 500px;
    height: 320px;
    padding: 40px 10px 80px 10px;
    border: solid 2px black;
    gap: 8px;
    border-radius: 10px 10px 0px 0px;
  }

  .title__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
  }

  .title__img h4 {
    font-size: 40px;
    padding-top: 40px;
    margin-top: 30px;
  }

  .img__buy {
    width: 200px;
    height: 100px;
    filter: drop-shadow(5px 0px 80px);
    margin-top: 30px;
  }

  .info {
    width: 85%;
    height: 50px;
    margin-top: 10px;
    padding: 10px 4px;
  }

  .info p {
    text-align: center;
    font-size: 19px;
    color: var(--text3);
  }

  .cart__precio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px 0px 20px 0px;
    gap: 35px;
    margin-top: 5px;
  }

  .cart__precio span {
    font-size: 24px;
  }
  .emprendimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .emprendimiento h2 {
    font-size: 46px;
    color: var(--text2);
    font-weight: 100;
    letter-spacing: 1px;
  }

  .emprendimiento p {
    font-size: 17px;
    width: 85%;
  }

  .logo__copy {
    display: none;
  }

  .contactos__conteiner {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
  }

  .card__contactos {
    width: 90px;
    height: 330px;
    gap: 10px;
  }

  .card__contactos h4 {
    font-size: 21px;
  }

  .list__contact {
    gap: 30px;
  }

  .list__info {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .contact__a {
    color: #faeeea;
  }
  .logo__copy p {
    text-align: center;
  }


}
